<link href="/fontawesome/6.2.1/css/fontawesome.min.css" rel="stylesheet">
<link href="/fontawesome/6.2.1/css/brands.min.css" rel="stylesheet">
<link href="/fontawesome/6.2.1/css/solid.min.css" rel="stylesheet">
{{ if .Params.website }}
<meta http-equiv="refresh" content="0; url={{ printf "%s" $.Params.website }}">
<script>document.title = 'Redirecting to {{ replaceRE "^https?://([^/]+).*" "$1" $.Params.website }}'; </script>
{{ end }}